[includeIf "gitdir:~/repos/binotation/"]
	path = ~/repos/binotation/.gitconfig_binotation
[includeIf "gitdir:~/repos/ghostlink0/"]
	path = ~/repos/ghostlink0/.gitconfig_ghostlink0
[core]
	editor = nvim
[remote "origin"]
	prune = true
[pull]
	ff = only
