[includeIf "gitdir:~/repos/binotation/"]
	path = ~/repos/binotation/.gitconfig_binotation
[includeIf "gitdir:~/repos/god-is-a-crab/"]
	path = ~/repos/god-is-a-crab/.gitconfig_god-is-a-crab
[core]
	editor = nvim
[remote "origin"]
	prune = true
[pull]
	ff = only
